[submodule "cjson"]
	path = cjson
	url = https://github.com/DaveGamble/cJSON.git
[submodule "docker"]
	path = docker
	url = https://github.com/dogusyuksel/embedded_docker
[submodule "embedded_linting"]
	path = embedded_linting
	url = https://github.com/dogusyuksel/embedded_linting
